.idea

### VSCode ###
.vscode/
*.swp
*.swo
*~

### macOS ###
.DS_Store

### Windows ###
Thumbs.db
Desktop.ini

# dependencies
node_modules

# logs
npm-debug.log*
yarn-error.log
*.log

# production
/dist

# bun
bun.lockb

# temp files
*.tmp

# agents
.agents

# trae
.trae/